{
  "default_provider": "baiduqianfancodingplan",
  "default_model": "qianfan-code-latest",
  "log_level": "INFO",
  "default_system_prompt": "You are a helpful AI assistant with access to tools.",
  "skills_dir": "tools/skills",
  "memory_db": "memory.db",
  "embedding_model": "BAAI/bge-m3",
  "embedding_dim": 1024,
  "compress_threshold": 0.7,
  "target_threshold": 0.5,
  "auto_recall": true,
  "auto_recall_top_k": 5,
  "env_vars": {
    "SERPER_API_KEY": "sk-xxx",
    "BAIDU_API_KEY": "sk-xxx"
  },
  "providers": [
    {
      "name": "baiduqianfancodingplan",
      "api_key": "sk-xxx",
      "base_url": "https://qianfan.baidubce.com/v2/coding",
      "api": "openai-completions",
      "models": [
        {
          "id": "qianfan-code-latest",
          "name": "qianfan-code-latest",
          "reasoning": false,
          "input": ["text"],
          "cost": {
            "input": 0.0025,
            "output": 0.01,
            "cache_read": 0,
            "cache_write": 0
          },
          "context_window": 98304,
          "max_tokens": 65536
        }
      ]
    },
    {
      "name": "astroncodingplan",
      "api_key": "sk-xxx:sk-xxx",
      "base_url": "https://maas-coding-api.cn-huabei-1.xf-yun.com/v2",
      "api": "openai-completions",
      "models": [
        {
          "id": "astron-code-latest",
          "name": "astron-code-latest",
          "reasoning": false,
          "input": ["text"],
          "cost": {
            "input": 0,
            "output": 0,
            "cache_read": 0,
            "cache_write": 0
          },
          "context_window": 92160,
          "max_tokens": 32768
        }
      ]
    }
  ]
}
